<ng-container *ngIf="isLoading$ | async; else showErrorMsg">
    <app-loader [isLoading]="true" [message]="'Loading error message ...'"></app-loader>
  </ng-container>
  <ng-template #showErrorMsg>    
    <ng-container *ngIf="(errorMsg$ | async) !== ''; else showUsers">
        <div class="error"> {{(errorMsg$ | async)}} </div>
    </ng-container>
    <ng-template #showUsers>
        <ng-container *ngIf="data && data.length > 0; else noUsers">
            <h1>User's Table</h1>
            <table>
                <tr>
                    <th>Name</th>
                    <th>Email Id</th>
                    <th>Phone</th>
                </tr>
                <tr *ngFor="let user of data">
                    <td>{{user.name}}</td>
                    <td>{{user.email}}</td>
                    <td>{{user.phone}}</td>
                </tr>
            </table>
        </ng-container>
        
        <ng-template #noUsers>
            <h5>No users found</h5>
        </ng-template>
    </ng-template>
  </ng-template>

