<h1>Angular 12 Testcase</h1>
<!-- <app-users></app-users> -->
<p><a appMouseBgcolorChange [colorCode]="'#ccdd00'">Mouse hover / out</a></p>
<p><a appClickBgcolorChange [colorCode]="'#ff0000'">CLick</a></p>
<label>
  Enter your security code
  <span tooltip tooltip="3 digits, back of your card">
    (?)
  </span>
  <input type="text">
</label>

<!-- <app-loader [isLoading]="(isLoading$ | async)" message="Loading error message ..."></app-loader> -->

<!-- <div class="error" *ngIf="!(isLoading$ | async) && errorMsg">
  <p> {{errorMsg}} </p>
</div> -->

<table class="table">

  <tbody>
    <tr *ngFor="let user of fakeUsers | dataRange: 10 : 3">
      <td>{{user.first_name | title: user.gender : user.married }} {{user.last_name}}</td>
      <td>{{user.email}}</td>
      <td>{{user.gender}}</td>
      <td>{{user.married? 'Married' : 'Unmarried'}}</td>
      <td>{{user.birthdate | dateConverter}}</td>
      <td>{{user.phone_number}}</td>
    </tr>
  </tbody>
</table>

<button (click)="createAirline()">Create Airline</button>



