<h1>Angular 12 Testcase</h1>
<p><a appMouseBgcolorChange [colorCode]="'#ccdd00'">Mouse hover / out</a></p>
<p><a appClickBgcolorChange [colorCode]="'#ff0000'">CLick</a></p>
<label>
  Enter your security code
  <span tooltip tooltip="3 digits, back of your card">
    (?)
  </span>
  <input type="text">
</label>
<br><br>
<h4>Mask Account no : {{accountNo}}</h4>
<br><br>
<h4>Dom Sanitizer</h4>
<div [innerHtml]="htmlSnippet | sanitize: 'html'"></div>
<video width="50%" controls [src]="videoURL | sanitize: 'resourceUrl'"></video>
<br><br><br>
<input type="text" appCharactersOnly />
<br>
<input type="text" appNumbersOnly />
<br>
<input type="text" appAlphanumericOnly />


<app-users></app-users>
<br><br><br>
<h1>Sample Table</h1>
<table appTableStickyHeader>
  <thead>
      <tr>
          <th>Name</th>
          <th>Email Id</th>
      </tr>
  </thead>
  <tbody>
      <tr *ngFor="let user of sampleTableData | orderBy: 'name': 'desc'">
          <td>{{user.name}}</td>
          <td>{{user.email}}</td>
      </tr>
  </tbody>
</table>
<button (click)="addTable()">Add Table Data</button>

<!-- <app-fake-users></app-fake-users> -->

<button (click)="createAirline()">Create Airline</button>

<app-login></app-login>


