.table {
  border-collapse: collapse;
  width: 100%;
  margin-top: 10px;
}

.table td {
  border: 1px solid #ddd;
  padding: 8px;
}

.table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.table tr:hover {
  background-color: #ddd;
}
