<h1>Angular 12 Testcase</h1>
<p><a appMouseBgcolorChange [colorCode]="'#ccdd00'">Mouse hover / out</a></p>
<p><a appClickBgcolorChange [colorCode]="'#ff0000'">CLick</a></p>
<label>
  Enter your security code
  <span tooltip tooltip="3 digits, back of your card">
    (?)
  </span>
  <input type="text">
</label>
<br><br><br>
<input type="text" appCharactersOnly />
<br>
<input type="text" appNumbersOnly />
<br>
<input type="text" appAlphanumericOnly />

<app-fake-users></app-fake-users>
<app-users></app-users>



<button (click)="createAirline()">Create Airline</button>

<app-login></app-login>


