.strength {
    display: flex;
    flex-direction: row;
  }
  
  .strengthBar {
    display: flex;
    flex-grow: 1;
    list-style: none;
    margin: 0;
    padding: 0;
    vertical-align: 2px;
  }
  
  .point:last-of-type {
    margin: 0 !important;
  }
  
  .point {
    background: #ddd;
    border-radius: 2px;
    display: inline-block;
    height: 5px;
    margin-right: 1px;
    flex-grow: 1;
  }
  
  p {
    font-weight: bold;
    flex-grow: 0.1;
  }
  